.peace {
    padding: 15px;
    background-color: #E5DFCF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &~.peace {
        margin-top: 15px;
    }
}

.myPeace {
    background-color: #BABC94;
    color: white;
}

.content {
    flex: 1;

    .info {
        padding-top: 15px;
        font-size: .8rem;
        font-style: italic;

        .author {
            padding-right: 10px;
        }
    }
}

.actions {
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-top: 1px solid #BABC94;

    div.toLove, div.report {
        color: lighten(black, 75%);
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                color: black;
            }
        }
    }

    div.loved {
        color: red;
        cursor:pointer;
    }
}

.myActions {
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-top: 1px solid white;

    div.delete {
        color: darken(white, 10%);
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                color: darken(white, 5%);
            }
        }
    }

    div.userloves {
        color: red;
        font-weight: bold;
        font-size: 1.5rem;
        cursor: default;

        @media(hover: hover) {
            &:hover {
                color: red;
            }
        }
    }
}