.peace {
    padding: 15px;
    background-color: lighten(#E5DFCF, 3%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &~.peace {
        margin-top: 15px;
    }
}

.myPeace {
    background-color: darken(#E5DFCF, 3%);
}

.content {
    flex: 1;

    .author {
        padding-top: 15px;
        font-size: .7rem;
        font-style: italic;
    }
}

.actions {
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-top: 1px solid #BABC94;

    div {
        color: lighten(black, 75%);
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                color: black;
            }
        }
    }

    div.loved {
        color: red;
        cursor:pointer;
        
        @media(hover: hover) {
            &:hover {
                color: lighten(red, 25%);
            }
        }
    }

    div.userloves {
        color: red;
        font-weight: bold;
        font-size: 1.5rem;
        cursor: default;

        @media(hover: hover) {
            &:hover {
                color: red;
            }
        }
    }
}
