.profileheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        cursor: pointer;
        text-decoration: underline;
    }
}

.totalLoves {
    color: red;
    font-weight: bold;
}