.spreader {
    textarea {
        resize: none;
        margin-bottom: 15px;
    }
}

.todayspeace {
    font-size: 2rem;
    padding: 15px 0;
}

.peaces {
    border-top: 1px solid #BABC94;
    padding-top: 15px;
}