.spreader {
    textarea {
        resize: none;
        margin-bottom: 15px;
    }
    margin-bottom: 15px;
}

.todayspeace {
    font-size: 1.3rem;
    padding: 15px 0;
}

.todayspeacetitle {
    font-size: 1.5rem;
}

.peaces {
    border-top: 1px solid #BABC94;
    padding-top: 15px;
}