@font-face{
  font-family: "main";
  src: url("./fonts/Raleway-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'main',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1E9D2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}